[Desktop Entry]
Type=Application
Name=Photos
Comment=Browse and view photos
Icon=camera
Exec=sh -c "$HOME/Flick/apps/photos/run_photos.sh"
Terminal=false
Categories=Graphics;Photography;
