[Unit]
Description=Flick Audio Keepalive
After=pulseaudio.service
BindsTo=flick.service
After=flick.service

[Service]
Type=simple
User=droidian
Group=droidian
Environment=XDG_RUNTIME_DIR=/run/user/32011
ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/pacat --playback /dev/zero --rate=44100 --channels=2 --format=s16le --latency-msec=1000
Restart=on-failure
RestartSec=5

[Install]
WantedBy=flick.service
