[Desktop Entry]
Name=Flick Contacts
Comment=Contact manager for Flick
Exec=sh -c "$HOME/Flick/apps/contacts/run_contacts.sh"
Icon=contacts
Type=Application
Categories=Office;ContactManagement;
